* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 576px) {
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: whitesmoke;
    }
}

.card {
    background-color: rgb(90, 130, 90);
    width: 350px;
    border-radius: 15px;
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin: 50px;

}

h1, p {
    color: whitesmoke;
}

.card img {
    width: 100%;
}

.card h1, .card p, .card select, .card input, .card button {
    margin: 10px;
}

.card select, .card input, .card button {
    padding: 10px;
    border-radius: 5px;
}

.card select, .card input {
    width: 200px;
}

.totalBox {
    border: 1px solid gray;
    border-radius: 15px;
    width: 200px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgb(90, 130, 90);
}

.totalBox p, .totalBox div {
    margin: 10px;
}

.totalBox .colorFinal {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
